<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MiPymes</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  {% block css %}
  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

  {% endblock %}

</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">

  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="{% url 'inicio' %}">MiPymes<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="{% url 'inicio' %}">Inicio</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


		{% block content %}

		{% endblock content %}


  <!-- ======= Footer ======= -->
  <footer id="footer">



    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>MiPymes<span>.</span></h3>
            <p>
              Cra 122 #6-65 <br>
              Santiago de Cali, Valle del Cauca<br>
              Colombia <br><br>
              <strong>Telefono:</strong> +57 313 754 8456<br>
              <strong>Email:</strong> UsbDevelopers@gmail.co<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Enlaces</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a class="nav-link scrollto " href="#hero">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a class="nav-link scrollto" href="#about">Nosotros</a></li>
              <li><i class="bx bx-chevron-right"></i> <a class="nav-link scrollto" href="#services">Servicios</a></li>
              <li><i class="bx bx-chevron-right"></i> <a class="nav-link scrollto" href="#contact">Contactanos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a  class="nav-link scrollto" href="{% url 'login' %}">Ingresar</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nuestros servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a class="nav-link scrollto" href="#services">Gestión de inventario</a></li>
              <li><i class="bx bx-chevron-right"></i> <a class="nav-link scrollto" href="#services">Manejo de finanzas</a></li>
              <li><i class="bx bx-chevron-right"></i> <a class="nav-link scrollto" href="#services">Administración de personal</a></li>
              <li><i class="bx bx-chevron-right"></i> <a class="nav-link scrollto" href="#services">Facturación</a></li>
              <li><i class="bx bx-chevron-right"></i> <a class="nav-link scrollto" href="#services">Puntos de venta</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4> Nuestras redes sociales</h4>
            <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>MiPymes</span></strong>. All Rights Reserved
      </div>

    </div>
  </footer><!-- End Footer -->

  {% block js %}
  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

  {% endblock %}

</body>

</html>